{% extends 'innerBase.html.twig' %}

{% block body %}

    <div class="row">
        <div class="page-title col-lg-12">
            <div class="title_left">
                <h3>Calendar</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th class="day weekday">Monday</th>
                    <th class="day weekday">Tuesday</th>
                    <th class="day weekday">Wednesday</th>
                    <th class="day weekday">Thursday</th>
                    <th class="day weekday">Friday</th>
                    <th class="day weekend">Saturday</th>
                    <th class="day weekend">Sunday</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.firstName }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
                </thead>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>
{% endblock %}

{% block stylesheets %}
    <style>
        .weekday, .weekend {
            width: 14%;
            text-align: center;
        }

        th:nth-child({{ ('now'|date('N')) + 1 }}) {
            background: #dadada;
        }
    </style>
{% endblock %}