<nav class="navbar navbar-dark fixed-top bg-dark">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Shift Manager</a>

    {% if app.user %}
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url('logout') }}">Sign out</a>
            </li>
        </ul>
    {% endif %}
</nav>
