{% extends 'innerBase.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>New User</h1>

    {{ form(form) }}

    <a href="{{ path('employee_list') }}">back to list</a>
{% endblock %}
