{% extends 'innerBase.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{  form(form) }}

    <a href="{{ path('account-details') }}">back to account details</a>
{% endblock %}
